@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

bubles {
  border-radius:100%;
  position: absolute;
  pointer-events: none;
  background: 	#69d7f8;
  box-shadow:  10px 10px 20px #73cbd1, 
             -10px -10px 20px #73cbd1;
  transform: translate(-50%, -50%);
  animation: colorgen 1s infinite;
}

@keyframes colorgen {
  0% {
    opacity: 1;
    filter: hue-rotate(0deg);
  }
  100% {
    opacity: 0;
    filter: hue-rotate(270deg);
  }
}


